#map-canvas {
	position: absolute; top: 0; left: 0;
	width: 100%; height: 100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */	
}

#box {
	position: absolute; right: 8px; top: 8px; z-index: 1000;
	width: 250px; height: 100px; padding: 5px;
	border: 1px solid black;
	background: rgba(255,255,255,0.8);
}

div.infowindow img { height: 50px; border: 1px solid black; }

img.faceMarker {
	width: 30px; height: 30px;
	border: 1px solid black;
}

#box { font-size: 80%; }